@use '../base/colors' as *;

.page-reputation {
    padding-bottom: 30px;
    height: 100vh;

    &-content {
        padding-top: 69px;
        min-height: 200px;
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;
        flex-direction: column;
    }

    &-title {
        font-size: 1.8rem;
    }

    &-container {
        margin: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-paragraph {
            text-align: center;
            margin-bottom: 3%;
        }

        &-content {
            display: flex;

            &-line {
                width: 1px;
                background-color: $black;
                margin: 30px 100px;
            }

            &-avatars {
                display: flex;
                flex-direction: column;
                gap: 30px;

                &-element {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    p{
                        margin: 0;
                    }

                    .top2 {
                        --rs-ring-shadow: #D9D9D9 0 0 0 4px;
                    }
                    
                    .top2-badge {
                        .rs-badge-content {
                            background-color: #D9D9D9;
                            color: black;
                        }
                    }

                    .reputation-color-avatar {
                        --rs-ring-shadow: #c190f1 0 0 0 4px;
                    }
                    
                    .reputation-color-badge {
                        .rs-badge-content {
                            background-color: #c190f1;
                        }
                    }
                }
            }
        }
    }
}