@use '../base/colors' as *;

.page-discover {
    background-color: $black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
    min-height: 100vh;
    text-align: center;

    &-content {
        padding-top: 69px;
        min-height: 200px;
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: $white;
        flex-direction: column;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    &-container {
        width: 100%;

        // height: 100%;
        display: flex;
        justify-content: center;
        background-color: $black;
        color: $white;
        padding-bottom: 2%;
        text-align: center;

        &-content {
            width: 70%;

            &-title {
                margin-top: 2%;

                h1 {
                    font-size: 1.5rem;
                }
            }

        }
    }

    .content-image-text {
        color: $black;
        display: flex;
        background-color: $white;
        align-items: center;    
        justify-content: center;
        flex-direction: column-reverse;

        &-paragraph {
            width: 90%;
            margin-bottom: 5%;

            h2 {
                text-transform: uppercase;
                font-size: 1.5rem;
            }
        }

        .icon-tel {
            padding: 20px;
            max-width: 200px;
        }

        img {
            max-width: 250px;
        }
    }
}

@media (width >= 992px) {
    .page-discover {
        text-align: initial;

        .content-image-text {
            flex-direction: row !important;

            img {
                max-width: 315px;
            }
        }

        .content-image-text-paragraph {
            width: 30% !important;
            margin-bottom: 0 !important;
        }

        .icon-tel {
            max-width: 250px;
        }
    }
}

@media (width <= 400px) {
    .page-discover-container {
        margin-bottom: 5%;
    }
}

.discover {
    .footer-items-links {
        color: white !important;
    }
} 
