#success {
    height: 100vh;
    background-color: $black;
    overflow: hidden;
    position: relative;  

    .card-success {
        width: 20%;
        background: $white;
        border-top-left-radius: 29px;
        border-top-right-radius: 29px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 60px 15px 15px;
        min-width: 270px;
        animation: move-up-and-down 1s ease-in-out;

        p {
            margin: 0;
        }

        &-icon {
            position: absolute;
            top: -44px;
            font-size: 50px;
            color: $white;
            background: #88CD7D;
            padding: 30px;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            border: 10px solid  rgb(136 205 125 / 47%);
            background-clip: padding-box; 
            
        }

        &-super {
            color: #88CD7D;
            font-size: 15px;
            font-weight: 500;
        }

        &-title {
            color: $black;
            font-size: 22px;
            text-align: center;
            font-weight: 600;
        }

        &-subtitle {
            color: #757575;
            font-size: 12px;
        }

        &-line {
            color: $black;
            width: 100%;
            border-style: dashed;
        }

        &-resume {
            font-size: 12px;
            color: #757575;
            text-align: start;
            padding-left: 20px;
            width: 100%;
        }

        &-product {
            height: 40px;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            margin: 3px 0 10px;

            &-content {
                background-color: #EFE9E4;
                height: 100%;
                border-radius: 10px;
                display: flex;
                align-items: center;
                padding: 15px;

                p {
                    font-size: 12px;
                    color: $black;
                    font-weight: 500;
                    display: contents;
                }
            }
        }

        &-total {
            color: $black;
            font-size: 12px;
            font-weight: 600;
        }

        &-amount {
            font-size: 30px;
            color: #88CD7D;
        }

        &-date {
            color: #757575;
            font-size: 15px;
        }

        &-button {
            margin: 15px 0;
            background-color: #EFE9E4;
            border-radius: 8px;
            padding: 5px 15px;
            box-shadow: 0 5px 15px rgb(0 0 0 / 15.4%);
            transition: all 1s ease;
            font-size: 15px;
            color: $black;
            font-weight: 400;
            text-decoration: none;

            &:hover {
                box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
                background-color: #e5dcd4;
                transition: all 1s ease;
                text-decoration: none;
            }
        }
    }
}

/* Animation Keyframes pour la carte */
@keyframes move-up-and-down {
    0% {
        bottom: -20%;
    }

    100% {
        bottom: 0; /* La carte remonte */
    }
}