.page-terms-conditions {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    &-title {
        margin-top: 1%;
        font-size: 1.8rem;
    }

    &-content {
        padding: 69px 50px 40px;
    }
}