# Configuration es port du server et de la base de données
PORT=
DB_PORT=
# Configuration de la base de données
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=
DB_DIALECT=
# Configuration des url Backend et Frontend
BACK_END_ORIGIN=
ORIGIN=
# Configuration des tokens jwt, stripe
JWT_SECRET=
STRIPE_SECRET_KEY=
# Configuration pour l'envoi de mails
MAIL_USER=
MAIL_PASS=