# Configuration es port du server et de la base de données
PORT=
DB_PORT=

# Configuration de la base de données
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=
DB_DIALECT=

# Configuration de la base de données de test
DB_TEST_DATABASE=
DB_TEST_USERNAME=
DB_TEST_PASSWORD=
DB_TEST_HOST=
DB_TEST_DIALECT=

# Configuration de la base de données de test
DB_PROD_DATABASE=
DB_PROD_USERNAME=
DB_PROD_PASSWORD=
DB_PROD_HOST=
DB_PROD_DIALECT=

# Configuration des url Backend et Frontend
BACK_END_ORIGIN=
ORIGIN=

# Configuration des tokens jwt, stripe
JWT_SECRET=
STRIPE_SECRET_KEY=

# Configuration pour l'envoi de mails
MAIL_USER=
MAIL_PASS=

#SECURITY
SERVER_CRT=
SERVER_KEY=