#footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
    height: 0;
}

// .home {
//     position: relative;
//     bottom: 30px;
// }

#footer-items {
    padding: 5px;
    .footer-items-links {
        padding: 5px;
        color: black;
        font-size: 10px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.home, .discover {
    #footer-items {
        .footer-items-links {
            color: #FFF9F4;
        }
    }
}